### certificates ###
*.pem
*.key
*.crt
*.cer
*.der
*.priv
*.csr
*.srl

### local environment ###
.env
infra/.env

### deployment ###
/deployment/config.json

### RustFS runtime data ###
/infra/rustfs_data/*
!/infra/rustfs_data/.gitkeep
/infra/rustfs_logs/*
!/infra/rustfs_logs/.gitkeep