# Dockhand service
dockhand.platform.smith-data.de {
    reverse_proxy dockhand:3000
    tls internal
}

# Simple website - HTTP only, explicitly disable HTTPS
website.platform.smith-data.de {
    reverse_proxy http://simple-website:80
    @https {
        protocol https
    }
    handle @https {
        respond "Please use HTTP for this service" 400
    }
}