# Dockhand service
dockhand.localhost {
    reverse_proxy dockhand:3000
    tls /etc/caddy/certificates/wildcard.crt /etc/caddy/certificates/wildcard.key
}

s3.localhost {
    reverse_proxy rustfs:9000
    tls /etc/caddy/certificates/wildcard.crt /etc/caddy/certificates/wildcard.key
}

storage.localhost {
    reverse_proxy rustfs:9001
    tls /etc/caddy/certificates/wildcard.crt /etc/caddy/certificates/wildcard.key
}

catalog.localhost {
    reverse_proxy lakekeeper:8181
    tls /etc/caddy/certificates/wildcard.crt /etc/caddy/certificates/wildcard.key
}

keycloak.localhost {
    reverse_proxy keycloak:8080
    tls /etc/caddy/certificates/wildcard.crt /etc/caddy/certificates/wildcard.key
}